@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #ffffff;
    --cinza-secundário: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030f;
    --efeito-botao-azul: #2b2b8b;

    --fonte-principal: "Inter", sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/*Primeira Section*/
.div__combo {
    margin: 0 6em;
}

.alura__combo {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
   height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 1.75em;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    text-decoration: none;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em;
    transition: 0.5s;
}

.botao__principal:hover {
    color: var(--cinza-secundário);
    padding: 4%;
    background-color: var(--efeito-botao-azul);
    transition: 0.5s;
}

.botao__secundario {
    color: var(--cinza-secundário);
    background-color: transparent;
    border: solid 2px var(--cinza-secundário);
    transition: 0.5s;
}

.botao__secundario:hover {
    padding: 4%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--branco-principal);
    transition: 0.5s;
}


.container__aviso {
    color: var(--cinza-secundário);
    font-size: 0.75em;
}


/*Segunda e Terceira Section*/
.topico {
    align-items: center;
    margin: 0 15em;
}

.topico__align {
    align-items: center;
    margin: 0 6em;
}

.alura__imagem {
    width: 80%;
    transform: scale(1.1);
}

.plataformas__titulo {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.alura__telas {
    margin-right: 5.5em;
    text-align: justify;
}

.descricao__texto {
    line-height: 1.5em;
    color: var(--cinza-secundário);
}

.botao__telas {
    display: inline-block;
    margin-top: 1em;
}

.botao__telas:hover {
    color: var(--cinza-secundário);
    background-color: var(--efeito-botao-azul);
    transition: 0.5s;
    padding-right: 7%;
}

.botao__telas:not(:hover) {
    background-color: var(--botao-azul);
    transition: 0.5s;
    padding-right: 3%;
}

/*Quarta Section*/
.alura__dispositivos {
    text-align: center;
}
.dispositivos__lista {
    margin-top: 3em;
    display: flex;
    text-decoration: none;
    justify-content: center;
    list-style-type: none;
}

.dispositivos__titulo {
    font-size: 3em;
}

.lista__item {
    font-size: 2em;
}

/*Footer da página*/
.footer__alura {
    margin-top: 8em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;   
}

.botoes__footer {
    display: flex;
    gap: 1.25em;
    flex-wrap: wrap;
    list-style-type: none;
    transition: 0.5s;
}

.botoes__footer a:hover {
    color: var(--botao-azul);
    transition: 0.5s;
    font-size: 0.99em;
}

.botoes__footer a:active {
    color: purple;
    transition: 0.5s;
}

.lista__botoes li, a {
    color: var(--branco-principal);
    text-decoration: none;
}

.descricao__footer {
    padding: 0 6em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.paragrafos__footer {
    color: var(--cinza-secundário);
    text-align: center;
    line-height: 1.5em;
}

/*Importação de arquivos media querys para responsividade de dispositivos móveis*/
@media screen and (max-width: 768px) {

    * {
        text-align: center;
        transform: scale(1);
    }

    .container, .alura__combo {
        display: flex;
        flex-direction: column;
        background-image: none;
        margin: 2em 0;
    }

    .container__titulo {
        margin: 0 -3em;
    }

    .container__imagem {
        width: 50vw;
    }

    .alura__imagem {
        transform: scale(0.9);
    }

    .alura__telas {
        margin-right: 0;
        padding: 1em;
        text-align: center;
    }

    .dispositivos__lista {
        display: block;
        width: 50vw;
        margin-left: 1em;
    }

    .lista__item {
        display: flex;
        width: 50vw;
        justify-content: center;
        margin-left: 2.5em;
    }


    .botoes__footer {
        display: flex;
        width: 50vw;
        justify-content: center;
    }

    .descricao__footer {
        padding: 0 1em;
    }
}
